reconstructed/err/*
reconstructed/out/*
not-reconstructed/err/*
not-reconstructed/out/*
reconstructed/utils/random_test.sh
reconstructed/utils/__pycache__
reconstructed-double-target/utils/random_test.sh
reconstructed-double-target/utils/__pycache__